.Logo {
    display: inline-block;
    z-index: 200;
    a {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
    }
    img {
        max-width: 120px;
        max-height: 80px;
    }
}