// Fonts
$f1: 'Share Tech Mono', monospace;

// Colors
$c1: #222;
$c2: #FFF;
$c3: #000;

// Scale breakpoints
$desk: 1440;
$tablet: 768;
$phone: 414;

// Grid config
$desk-margin: 22;
$desk-col-gap: 20;
$desk-columns: 12;

$tablet-margin: 22;
$tablet-col-gap: 10;
$tablet-columns: 4;

$phone-margin: 22;
$phone-col-gap: 10;
$phone-columns: 4;

// Functions and mixins
@function scaleVW($size, $viewportWidth) {
    @return calc(($size * 100) / $viewportWidth) * 1vw;
}
@function LH($lineheight, $fontSize) {
    @return calc($lineheight / $fontSize);
}
@mixin image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}